@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* dark background */
  color: #f0f0f0;
}

#root {
  padding-top: 80px;
}

html, body {
  font-family: 'Inter', sans-serif;
}
